:host{
    display: block;
    padding: 20px 12px;
    position: relative;
    background-color: var(--dark-color);
    height: 100dvh;
}

.main-menu-list{
    display: grid;
    grid-gap: 8px;
    list-style: none;
}

.menu-item{
    display: grid;
    grid-template-columns: 16px 1fr max-content;
    grid-gap: 12px;
    width: 100%;
    padding: 16px 12px;
    cursor: pointer;
    color: var(--light-color);
    border: none;
    background: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    text-align: left;
    transition: 0.3s ease;
    text-decoration: none;


    &:hover,
    &:focus-visible{
        background-color: var(--dark-hover-color);
        color: var(--primary-color);
        border-radius: 2px;

        .menu-item svg{
            color: var(--primary-color);
        }
    }
}

.menu-item svg{
    width: 16px;
    height: 16px;
    transition: 0.2s ease;

}

.to-subscribers{
    display: flex;
    gap: 10px;
    align-items: center;
}

.to-subscribers-link{
    color: var(--primary-color);
    padding: 0px 0px 0px 12px;
    text-decoration: none;
    cursor: pointer;
}

.to-subscribers-icon{
    width: 16px;
    height: 16px;
    color: var(--primary-color);
}

.sidebar__footer{
    position: absolute;
    bottom: 20px;
    left: 12px;
    right: 12px;
    background-color: var(--dark-hover-color);
    border-radius: 2px;
    padding: 4px 12px;
    display: grid;
    grid-template-columns: 32px 1fr 16px;
    grid-gap: 12px;
    align-items: center;

    img{
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    .username-text{
        color: var(--primary-color);
        font-weight: 700;
    }

    .settings-btn{
        cursor: pointer;
        display: block;
        text-decoration: none;
        width: 16px;
        height: 16px;


        img{
            width: 16px;
            height: 16px;
        }
    }
}

.to-settings-icon{
    color: var(--primary-color);
    width: 16px;
    height: 16px;
}